html,body {
   margin:0;
   padding:0;
   height:100%;
}
ul li a {
   color: black !important; 
}
h3 {
    margin: 20px;
}
footer {
   position:fixed;
   bottom:0;
   width:100%;
   height:80px;   /* Height of the footer */

}
